<div class="d-flex justify-content-center">
  <div class="text-center mt-3">
<!--    <p *ngIf="!progress.answers.length">Você ainda não realizou esse teste</p>-->
    <a (click)="goToQuiz()" *ngIf="!progress.answers.length" class="ui button primary">Iniciar teste</a>

    <div *ngIf="progress.answers.length">
        <div class="text-center">
          <img style="max-height: 200px" *ngIf="percent == 100" src="assets/images/happy.png">
          <img style="max-height: 200px" *ngIf="percent < 100" src="assets/images/sad.png">
          <p>
            <strong>
              <span *ngIf="percent < 100">Resposta incorreta</span>
              <span *ngIf="percent == 100">Parabéns, você acertou.</span>
            </strong>
            <br/>
            <a (click)="resetQuiz()" *ngIf="progress.answers.length && percent <= 100" class="link text-center">Refazer teste</a>
          </p>

          <button nbButton *ngIf="percent == 100" (click)="continueCourse()">
            <i class="icon arrow right"></i>
            Continuar para <drp-content-title [courseContent]="nextCourseContent"></drp-content-title>
          </button>

<!--            <div class="col-md-4">-->
<!--              <button (click)="goToQuiz()" *ngIf="progress.answers.length" class="ui button fluid">Visualizar respostas</button>-->
<!--            </div>-->


        </div>
    </div>
  </div>
</div>
