<div *ngIf="loaded" class="courseContent contentContainer container">
  <h1 class="pb-1 pt-1">
    <drp-content-title [courseContent]="progress.courseContent"></drp-content-title>
  </h1>
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="card mb-3">
      <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
        <div class="list-group-item">
          <h5 class="card-title">Pergunta {{i + 1}}</h5>
          <div [formGroup]="ticket" class="form-row">
            <div class="form-group col-12">
              <div *ngIf="!this.progress.answers.length">
                <div class="text" [innerHTML]='ticket.controls.question.value.text'></div>
                <nb-radio-group [name]="i" formControlName="selected" >
                  <nb-radio
                    *ngFor='let questionItem of ticket.controls.question.value.questionItems'
                    [value]="questionItem.id">
                    <div class="questionText" [innerHTML]="questionItem.text"></div>
                  </nb-radio>
                </nb-radio-group>
                <div *ngIf="submitted && ticket.controls.selected.errors" class="invalid-feedback">
                  <div *ngIf="ticket.controls.selected.errors.required">Selecione uma resposta</div>
                </div>
              </div>

              <quiz-question *ngIf="this.progress.answers.length"
                             [question]="ticket.controls.question.value"
                             [progress]="this.progress">
              </quiz-question>

            </div>

          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="ui button secondary mr-2" type="button" (click)="goToQuiz()">Voltar</button>
        <button *ngIf="!this.progress.answers.length" class="ui button primary mr-2">Enviar</button>
        <button *ngIf="!this.progress.answers.length" class="ui button  secondary" type="reset" (click)="onReset()">Reinciar</button>
      </div>
    </div>
  </form>
</div>

