

<nb-alert *ngIf="invalidLogin" outline="danger" role="alert">
  <p class="alert-title"><b>Login inválido</b></p>
  <ul class="alert-message-list">
    <li class="alert-message">Verifique seu usuário e senha e tente novamente</li>
  </ul>
</nb-alert>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="m-2">

  <div class="form-control-group mb-2">
    <label class="label">E-mail</label>
    <input nbInput
           fullWidth
           formControlName="email"
           name="email"
           pattern=".+@.+\..+"
           autofocus
           [status]="f.email.dirty ? (f.email.invalid  ? 'danger' : 'success') : ''"
           [required]="true"
           [attr.aria-invalid]="f.email.invalid && f.email.touched ? true : null">
    <ng-container *ngIf="f.emailinvalid && f.email.touched">
      <p class="error-message" *ngIf="f.email.errors?.required">
        E-mail obrigatório
      </p>
      <p class="error-message" *ngIf="f.email.errors?.pattern">
        E-mail inválido
      </p>
    </ng-container>
  </div>

  <div class="form-control-group mb-2">
    <label class="label" for="input-password">Senha:</label>
    <input nbInput
           fullWidth
           formControlName="password"
           name="password"
           id="input-password"
           [status]="f.password.dirty ? (f.password.invalid  ? 'danger' : 'success') : ''"
           [required]="true"
           [attr.aria-invalid]="f.password.invalid && f.password.touched ? true : null">
    <ng-container *ngIf="f.password.invalid && f.password.touched ">
      <p class="error-message" *ngIf="f.password.errors?.required">
        Senha obrigatória
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <button nbButton
            fullWidth
            outline
            status="success"
            [disabled]="!loginForm.valid"
            [class.btn-pulse]="submitted">
      Entrar
    </button>
  </div>
</form>

<div class="text-center m-2">
  <button (click)="loginGoogle()" nbButton outline fullWidth status="primary">
    <img style="height: 24px" src="https://img.icons8.com/color/50/000000/google-logo.png">
    <span class="ml-2">Continuar com Google</span>
  </button>
</div>

<div class="p-3 text-center">
  <p>
    <a class="forgot-password" href="{{resetpass}}">Esqueceu a senha?</a>
  </p>
  <p>
    Ainda não possui conta? <a class="text-link" href="{{register}}">Registrar</a>
  </p>

</div>


