<div class="pb-3">
  <div class="card">
    <a [routerLink]="['/course', course.id]">
      <img *ngIf="thumbnail" class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
    </a>
    <div class="card-body">
      <a [routerLink]="['/course', course.id]">
        <h5 class="card-title">{{course.title}}</h5>
      </a>
      <br/>
      <div [innerHTML]="course.summary"></div>
    </div>
    <div class="card-body">
      <a *ngIf="showContinue && isLogged" [routerLink]="['/course', course.id]" nbButton>Continuar curso</a>
      <a *ngIf="showSubscribe" [routerLink]="['/course', course.id]" nbButton>Iniciar curso</a>
    </div>
  </div>
</div>
