.btn-continuar {
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  margin: 10px;
  padding: 5px;
}


.videoContainer .title {
  float: left;
  position: absolute;
  color: #fff;
  z-index: 1;
  padding: 10px;
}

.next-button {
  padding: 15px;
  color: #ffffff;
}

vg-player {
  max-width: 720px;
}
