<div id="dashboard" class="container-fluid">
  <div class="f-flex flex-column">
    <div *ngIf="courses?.length > 0" class="row">
      <div *ngFor="let course of courses" class="col-lg-6 col-sm-6">
        <drp-course-card [course]="course" ></drp-course-card>
      </div>
    </div>
    <div *ngIf="courses?.length == 0" class="">
      <div class="col-lg-3 col-sm-3">
        <div class="card">
            <img class="card-img-top" src="assets/images/happy.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Não há cursos disponíveis</h5>
            <p>Efetue login para ver seus cursos em andamento ou finalizado</p>
          </div>
        </div>
      </div>

    </div>
    <div class="align-items-end ml-auto">
      <button *ngIf="pwaService.promptEvent" id="installPwa" class="ui button primary" (click)="installPwa()" >
        Adicionar atalho
      </button>
    </div>
  </div>
</div>



