<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body>{{ this.body }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Fechar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
