<div *ngIf="loaded" class="courseContent ui text container">
  <div class="">
    <div class="mb-2">
      <h2 class="pt-2 mb-0 pb-0">
        <span *ngIf="progress.status == 'C'" nbTooltip="Já realizado"><i class="ui icon check green"></i></span>
        <span *ngIf="progress.status != 'C'" nbTooltip="Pendente"><i class="ui icon clock orange"></i></span>
        <drp-content-title [courseContent]="progress.courseContent"></drp-content-title>
      </h2>

    </div>

    <div class="d-flex mb-2" >
      <a nbButton *ngIf="isAdmin" [href]="editLink" target="_blank" class="mr-2">
        Editar conteúdo
      </a>

      <button status="basic" nbButton (click)="setRead(true, false)" *ngIf="progress.status != 'C'" class="mr-2">
        Marcar como realizado
      </button>
      <a nbButton (click)="setRead(false, false)" *ngIf="progress.status == 'C'" class="mr-2">
        Marcar como não realizado
      </a>

      <a nbButton *ngIf="nextCourseContent && !progress.courseContent.quiz" class="mr-2"
            (click)="setRead(true,true)">
        Continuar
<!--        para <drp-content-title [courseContent]="nextCourseContent"></drp-content-title>-->
        <i class="icon arrow right"></i>
      </a>


    </div>

    <div *ngIf="progress.courseContent.content">
      <content-video *ngIf="progress.courseContent.content.videoPath"
                     [progress]="progress">
      </content-video>
      <div class="contentContainer container">
        <div [innerHTML]="progress.courseContent.content.body"></div>

        <iframe class="mt-2" *ngIf="urlVideo"
          width="560" height="315"
          [src]="urlVideo"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>

    </div>

    <content-quiz *ngIf="progress.courseContent.quiz"
      [progress]="progress"
    ></content-quiz>

</div>
