<div *ngIf="loaded && courseContent && user" class="bg-darkgray">
  <div class="pt-3 pb-3 container">
    <div class="row">
      <div class="col-md-10 col-sm-8">
        <span class="title">{{course.title}}</span>
        <ng-template #dialog let-data let-ref="dialogRef">
          <nb-card size="medium" class="course-navigation">
            <nb-card-header class="card-header">Conteúdo do curso</nb-card-header>
            <nb-card-body>
              <course-menu [element]="ref"></course-menu>
            </nb-card-body>
            <nb-card-footer>
              <button class="ui button primary" (click)="ref.close()">Fechar</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>
        <div class="mt-2 row">
          <div class="col-xs-6 pl-3">
            <button (click)="open(dialog, true, true)"
                    class="ui button basic inverted ">Conteúdo do curso</button>
          </div>
          <div class="col-xs-6 d-block d-sm-none ml-auto" style="display: inline-block">
            <circle-progress
              [animation]=true
              innerStrokeColor="#b0b0b0"
              [lazy]=false
              [percent]="value"
              radius="15"
              showTitle="false"
              [title]="value"
              showSubtitle="false"
              subtitle=""
              showUnits="true"
              outerStrokeWidth="3"
              innerStrokeWidth="-2"
              space="-3"
              unitsColor="#c3c3c3"
              titleColor="#c3c3c3"
              subtitleColor="#c3c3c3"
              titleFontSize="9"
              unitsFontSize="9"
              subtitleFontSize="1"
              [startFromZero]="true"
             >
            </circle-progress>
          </div>

        </div>
      </div>
      <div class="col-md-2 col-sm-4 d-none d-sm-block">
        <circle-progress
          [animation]=true
          innerStrokeColor="#b0b0b0"
          [lazy]=false
          [percent]="value"
          radius="30"
          showTitle="false"
          [title]="value"
          showSubtitle="false"
          subtitle="progresso"
          showUnits="true"
          outerStrokeWidth="3"
          innerStrokeWidth="-2"
          space="-3"
          unitsColor="#c3c3c3"
          titleColor="#c3c3c3"
          subtitleColor="#c3c3c3"
          titleFontSize="13"
          unitsFontSize="13"
          subtitleFontSize="9"
          [startFromZero]="true"
        >
        </circle-progress>
      </div>
    </div>
  </div>
</div>
