.title, a {
  color: white !important;
}

.title {
  font-size: 1.2rem;
}

.progress-bar {
  display: flex;
  align-items: center;
}

nb-progress-bar {
  flex: 1;
}

.card-header {
  padding-bottom: 0;
}
