.padding {
  padding: 15px;
}

.text {
  color: $text-color;
}

.margin-bottom { margin-bottom: 15px;}
.margin-top { margin-top: 15px;}

input[type="radio"] {
  height: 1px;
}

.nb-theme-corporate a {
  color: #007bff
}


