// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};

$background: #e3e9ee;
$bg-dark : #29303b;
$header-color: #3f4550;
$header-bg: rgba(250, 216, 214, 0.2);
$text-color: #212529;
$header-font: #3f4550;

@import './content';



.nb-theme-corporate nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0;
}

// header
.nb-theme-corporate nb-layout .layout nb-layout-header nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: $white;
}

.nb-theme-corporate nb-actions nb-action i.control-icon {
  color: $header-font;
}

// courseContent
.main-content {
  background: $white;
}

.bg-darkgray {
  background: #29303b;
}

[dir=ltr] .nb-theme-corporate nb-sidebar.compacted.start.fixed ~ .content {
  margin-left: 0rem;
}


.menu-sidebar.compacted {display: none;}

nav.fixed {
  background-color: #f3eff1 !important;
  border-bottom: 1px solid #d14f69;
}

.logo-mobile {
  margin: 0 !important;
}

#dashboard {
  margin-top: 1rem;
}

.nb-theme-corporate .progress-value {
  color: #3f4550 !important;
}

.course-menu .customised-control {
  padding-right: 0 !important;
}

.course-menu nb-accordion nb-accordion-item-body .item-body {
  padding: 0.5rem 1rem;
}

.link {
  cursor: pointer;
}
