<div class="header-container"
     size="medium"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <div class="logo" (click)="goToSite()">
      <img class="ui image" src="http://drpixel.fcm.unicamp.br/bundles/app/image/logo.png">
    </div>
    <nb-action  class="cursos" (click)="goHome()">Cursos Online</nb-action>
  </div>

  <nb-actions
    class="header-user"
    [class.left]="position === 'inverse'"
    [class.right]="position === 'normal'"
  >
    <nb-action *ngIf="isLogged" (click)="logout()" title="Sair">
      <i class="eva eva-log-out-outline"></i>
    </nb-action>
    <nb-action *ngIf="isLogged" class="user-picture">
      <nb-user [title]="user?.name" onlyPicture [picture]="user?.picture"></nb-user>
    </nb-action>
    <nb-action *ngIf="!isLogged" (click)="goToLogin()" class="control-item">Entrar</nb-action>

<!--    <nb-action *ngIf="course" (click)="toggleSidebar()" class="control-item course-title">-->
<!--      <drp-slice [size]="50" [text]="course.title"></drp-slice>-->
<!--    </nb-action>-->
  </nb-actions>
</div>


