@import '../../../../@theme/styles/themes';
@import '../../../../@theme/styles/styles';

body .nb-theme-corporate a {
  color: #007791;
}


.course-overview .resume {
  background: $bg-dark;
  padding: 40px 20px;

  h1 {
    color: $white;
  }

  img {
    max-width: 200px;
  }
}

.course-overview .accordion {
  margin: 20px;

  .title {
    background: #f9f9f9;
    font-weight: bold;
  }

  .item-body, .title {
    border: solid 1px #e8e9eb !important;
  }
}
