<div *ngIf="course" class="">
  <div class="course-overview">
    <div class="bg-darkgray">
      <div class="container ui items">
        <div class="item resume">
          <div class="image">
            <img class="align-self-center mr-3" [src]="thumbnail">
          </div>

          <div class="content">
            <h1 class="mt-0">{{course.title}}</h1>

            <div *ngIf="this.loaded">
              <br/>
              <button *ngIf="!this.user" (click)="login()" class="ui button primary">Efetue login para realizar o curso</button>

              <button *ngIf="this.user && !this.hasCourseUser()" (click)="participate()" class="ui button primary">Realizar o curso</button>

              <button *ngIf="this.nextContent" (click)="goNextContent()" class="ui button primary">Continuar curso</button>

              <course-user-status [courseUser]="this.courseUser"></course-user-status>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Sobre o curso">
          <div class="container">
            <h1>Instruções</h1>
            <div [innerHTML]="course.body"></div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Conteúdo do Curso">
            <div class="container">

              <nb-accordion class="accordion" *ngFor="let section of course.sections">
                <nb-accordion-item>
                  <nb-accordion-item-header class="title">
                    Seção {{section.delta}}: {{section.title}}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body *ngFor="let content of section.courseContents" class="card-text">

                      <a *ngIf="this.hasCourseUser()" [routerLink]="['/course', course.id, 'courseContent', content.id]">
                        {{content.delta}}. {{content.title}}
                      </a>

                      <div *ngIf="!this.hasCourseUser()">{{content.delta}}. {{content.title}}</div>

                      <span class="float-right" *ngIf="this.hasCourseUser()">
                        <i *ngIf="this.contentStatus(content) == 'C'" class="eva eva-checkmark-circle-2"></i>
                        <i *ngIf="this.contentStatus(content) == 'I'" class="eva eva-minus-circle-outline"></i>
                      </span>
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>
            </div>
        </nb-tab>
      </nb-tabset>
    </div>
  </div>
</div>
