<div class="">
  <div class="question ">
    <div class="text" [innerHTML]='question.text'></div>
    <nb-radio-group [name]='question.id' [value]="selectedId()" [disabled]="disableQuestions">
      <nb-radio *ngFor='let questionItem of question.questionItems' [value]='questionItem.id'
                [disabled]="true" >
        <div class="d-flex">
          <i *ngIf="questionItem.correct" class="ui icon check green"></i>
          <i *ngIf="!questionItem.correct" class="ui icon times red"></i>
          <div [innerHTML]="questionItem.text"></div>
        </div>

      </nb-radio>
    </nb-radio-group>
  </div>
  <div *ngIf='showFeedback'
       [ngClass]="{'ui message':true,
       'success':selectedQuestionItem.correct,'warning':!selectedQuestionItem.correct}">
    <strong *ngIf='selectedQuestionItem.correct'>Resposta correta</strong>
    <strong *ngIf='!selectedQuestionItem.correct'>Resposta incorreta</strong>
    <p *ngIf='selectedQuestionItem.feedback' [innerHTML]='selectedQuestionItem.feedback'></p>
  </div>
</div>
