.course-menu {
  margin: 0 -18px;

  .menu-title {
    display: block;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
  }

  .menu-item, .course-link {
    background: none;
    color: inherit;
  }

  .item-body, a {
    padding: 0;
  }

  .active .item {
    font-weight: bold !important;
  }

  .description {
    color: var(--gray);
    font-size: 0.9rem;
    display: block;
    padding-left: 31px;
  }
}

.course-menu .item {
    color: inherit;
}

.user-menu {
  background-color: #CFD8DC;
  margin: 0 -18px;
  padding: 5px 15px;

  .item {
    padding: 5px 0;
  }
}

.nb-theme-corporate nb-accordion nb-accordion-item-body .item-body {
  padding: 0.75rem;
}

a {
  cursor: pointer;
}

.disabled a {
  color: var(--gray) !important;
}
