<div class="user-menu d-sm-none d-md-none">
  <div class="ui secondary vertical menu">
    <div *ngIf="!isLogged" class="item menu-title">
      <strong (click)="goToLogin()" >Efetue o login</strong>
    </div>

    <div *ngIf="isLogged">
      <div class="item">
        <div class="d-flex">
          <div class="p-1">
            <img class="ui avatar image" [src]="user?.picture">
          </div>
          <div class="p-1">
            <div class="d-flex flex-column">
              <span class="pb-1">{{user?.name}}</span>
              <nb-action class="pb-0" (click)="logout()" >Sair</nb-action>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="item">-->
<!--        <strong class="menu-title">Meus cursos</strong>-->
<!--      </div>-->
    </div>
  </div>
</div>

<div class="course-menu" *ngIf="this.loaded && course">
<!--  <a class="d-sm-none d-md-none item menu-title" route [routerLink]="['/course',course.id]">-->
<!--    <drp-slice [text]="course.title"></drp-slice>-->
<!--  </a>-->
  <nb-accordion>
    <nb-accordion-item class="menu-item" *ngFor="let section of items"
                       [collapsed]="activeCourseContent && section.section.id != activeCourseContent.courseSection.id" >
      <nb-accordion-item-header>
        {{section.section.delta}}. {{section.title}} ({{section.totalCompleted}}/{{section.total}})
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngFor="let children of section.children ">
        <div [ngClass]="itemClass(children)">
            <nb-checkbox status="info" class="checkbox-completed"
                         [value]="children.isCompleted"
                         [disabled]="true"
                         (change)="toogleContent(children.courseContent, $event)">
            </nb-checkbox>
              <a class="item"
                (click)="navigateTo(children.courseContent, children.isDisabled)"
              >
                {{children.delta}} <drp-slice style="color: #181818" [text]="children.title"></drp-slice>
                <span *ngIf="children.isDisabled">
                  (Conteúdo não liberado. Você ainda precisa concluir os módulos anteriores)
                </span>
                <span *ngIf="children.video" class="description">
                  <i class="icon video"></i>Vídeo
                </span>
                <span *ngIf="children.quiz" class="description">
                  <i class="icon pencil alternate"></i>Teste
                </span>
                <span *ngIf="!children.video && !children.quiz" class="description">
                  <i class="icon file"></i>Leitura
                </span>
              </a>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>

